<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>jboss-javaee5-session</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <description></description>
        <display-name>accesscounter</display-name>
        <servlet-name>accesscounter</servlet-name>
        <servlet-class>org.study.java.jboss.javaee5.session.AccessCounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accesscounter</servlet-name>
        <url-pattern>/accesscounter</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>simple-accesscounter</display-name>
        <servlet-name>simple-accesscounter</servlet-name>
        <servlet-class>org.study.java.jboss.javaee5.session.SimpleAccessCounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simple-accesscounter</servlet-name>
        <url-pattern>/simple-accesscounter</url-pattern>
    </servlet-mapping>

    <distributable/>
</web-app>
